// Source: https://goo.gl/qrHYDv
@mixin inline-block-close-gap {
  display: inline-block;
  margin-right: -4px;
}

// Lists
// -----------------------------------------------------------------------------

@mixin hlist {
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix;

  > li {
    list-style: none;

    &,
    > a {
      float: left;
    }
  }
}

@mixin hlist-centered {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  > li {
    @include inline-block-close-gap;
  }
}
