// Stops whitespace from appearing under images
@mixin img-block {
  img {
    display: block;
  }
}

// Allow images to resize above their natural max-width
@mixin img-force-full-width {
  img {
    width: 100%;
  }
}

// Flip an image horizontally or vertically
@mixin img-flip($axis:'x') {
  @if $axis == 'x' {
    transform: scaleX(-1);
    filter: FlipH;
  } @elseif $axis == 'y' {
    transform: scaleY(-1);
    filter: FlipY;
  }
}
