// Modular scale powered rem mixins & functions
// -----------------------------------------------------------------------------

// Mixin arguments need to be compatible Modular Scale arguments
// https://github.com/modularscale/modularscale-sass#usage

@function rem-scale($point-on-scale) {
  // Partly based on original Bourbon `rem` function
  // (converted px to rem - now deprecated).
  $base: $em-base; // $em-base is a default provided by Bourbon.
  $pxval: ceil(modular-scale($point-on-scale));
  @return ($pxval / $base) * 1rem;
}

@mixin heading-margins($margin-top, $margin-bottom) {
  // $margin-top & $margin-bottom:
  // Accepts a modular scale value or null (null sets margin to 0px).
  @if ($margin-top != null) {
    margin-top: rem-scale($margin-top);
  } @else {
    margin-top: 0;
  }
  @if ($margin-bottom != null) {
    margin-bottom: rem-scale($margin-bottom);
  } @else {
    margin-bottom: 0;
  }
}


// Link colours
// -----------------------------------------------------------------------------

@mixin link-colors($base, $hover:null, $active:null) {

  color: $base;

  // :active, :visited
  @if ($active) {
    &:active,
    &:visited {
      color: $active;
    }
  } @else {
    &:active,
    &:visited {
      color: $base;
    }
  }

  // :hover, :focus
  @if ($hover) {
    &:hover,
    &:focus {
      color: $hover;
    }
  } @else {
    &:hover,
    &:focus {
      color: $base;
    }
  }
}

// Alias for convenience
@mixin link-colours($base, $hover:null, $active:null) {
  @include link-colors($base, $hover, $active);
}


// Font smoothing
// -----------------------------------------------------------------------------

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}


// Anti-FOUT measures (WebFontLoader)
// -----------------------------------------------------------------------------

// Based on: https://gist.github.com/jackw/6702593
// More info: https://helpx.adobe.com/typekit/using/font-events.html

@mixin webfont($font-stack) {
  font-family: $font-stack;
  .wf-loading & {
    visibility: hidden;
  }
  .wf-active {
    visibility: visible;
  }
}
