// Hide just text
@mixin text-invisible {
  text-indent: -999em;
}

// Revert hidden text
@mixin text-visible {
  text-indent: 0;
}

// Hide elements visually, but keep them available for screen-readers
// -----------------------------------------------------------------------------
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// "!important" is used to prevent unintentional overrides.
@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.screen-reader-only {
  @include element-invisible;
}

// Reverts 'element-invisible'
@mixin element-visible {
  position: inherit !important;
  clip: inherit;
  overflow: inherit;
  height: inherit;
}

// Ensure 'invisible' elements are still focusable
@mixin element-focusable {
  &:active,
  &:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
  }
}
